#board {
    display: block;
    /* Sends the bars towards the borders */
    margin: 30px;
}

#board table {
    border: 1px solid black;
    border-collapse: collapse;
}

#squares-div table {
    position: absolute;
    z-index: -1;
}

#moving-piece {
    display: inline-block;
    position: absolute;
}

#piece-select {
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 2px solid grey;
    border-radius: 3px;
}

#piece-select img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
}

#piece-select .container {
    display: inline-block;
}

#piece-select .container :hover {
    background-color: lightgrey;
}

#lpieces, #rpieces {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
}

#lpieces img, #rpieces img {
    width: 60px;
    height: 60px;
    margin: 0px;
}

td {
    width: 80px;
    height: 80px;
}

img {
    width: 76px;
    height: 76px;
    padding: 0px;
    margin: 0px;
}

body, main {
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
