#board squares {
    z-index: 0;
}
#board pieces {
    z-index: 10;
}

#board table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    left: calc(50vw - 320px);
    top: calc(50vh - 320px);
}

#moving-piece {
    display: inline-block;
    position: absolute;
}

#piece-select {
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 2px solid grey;
    border-radius: 3px;
}

#piece-select img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
}

#piece-select .container :hover {
    background-color: lightgrey;
}

td {
    width: 80px;
    height: 80px;
}

img {
    width: 76px;
    height: 76px;
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
}
